
module zabbix_agentd 1.0;

require {
	type zabbix_agent_t;
	class process setrlimit;
	class capability dac_override;
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t self:capability dac_override;
allow zabbix_agent_t self:process setrlimit;
